{% extends 'home/base.html' %} {% load static %} {% block content %}
<!-- BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOODDDDDDDDDDDDDDDY -->
<div
  id="head1"
  class="wow fadeIn"
  data-wow-duration="2s"
  style="background-size:cover;
    background-image: url({% static 'images/degradado0.jpg' %}); background-attachment: fixed;"
>
  <!-- header -->
  <header style="height: 100vh">
    <div class="container">
      <br />
      <br />
      <h1>
        Numlet Project
      </h1>
      <p class="lead" style="color: white; font-weight: 500;">
        Numlet is a Python based project able to convert more than 10^1200
        different numbers to string type spanish words.
      </p>
      <hr class="my-4" />
      <p style="color: #CFD4D6; font-size: small;">
        It can be used for instance to put information in bills, GUI's, Web
        Pages or even CSV's; its possibilities are up to you.
      </p>
      <p class="lead">
        <a
          class="mr-lg-2 btn btn-success btn-lg rounded-pill"
          href="{% url 'num-let' %}"
          role="button"
          ><i class="fas fa-play-circle"></i> TEST IT</a
        >
        <a
          class="btn btn-outline-secondary btn-lg rounded-pill"
          href="#"
          role="button"
          ><i class="fab fa-github"></i> REPOSITORY</a
        >
      </p>
    </div>
  </header>

  <!-- navbarbottom -->
  <nav
    id="nb"
    class="navbar navbar-expand-lg navbar-light fixed-bottom wow flipInX"
    data-wow-duration="2s"
    style="background-color: white; border-radius: 25px;"
  >
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="" />
      Home
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#icontact"
            ><i class="far fa-envelope"></i> Contact</a
          >
        </li>
        <li class="nav-item dropup">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-globe-europe"></i> Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'pag-es' %}">Spanish</a>
            <a class="dropdown-item" href="#top">English</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- BODY -->
  <div id="boody">
    <br />
    <h3 class="wow bounceIn">SKILLS</h3>
    <hr />
    <div class="wow fadeInLeftBig" data-wow-duration="2s">
      <h4>Python</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 90%"
        ></div>
      </div>
      <p style="font-weight:600">
        I have a strong knowledge of the Python syntax and special familiarity
        with the libraries SciPy, NumPy, Matplotlib, Scikit-Learn or Pandas.
      </p>
      <br />
      <h4>Microsoft Office</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 80%"
        ></div>
      </div>
      <p style="font-weight:600">
        I have a strong knowledge in Excel (Macros, nested if statements,
        etc...) and special familiarity with Word and PowerPoint.
      </p>
      <br />
      <h4>Git</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 70%"
        ></div>
      </div>
      <p style="font-weight:600">
        I know the syntax and the basic commands of Git. I also know how to use
        it together with the Github platform.
      </p>
      <br />
      <h4>R</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 60%"
        ></div>
      </div>
      <p style="font-weight:600">
        I know the basics of R (time series plots, R statistical applications,
        matrices, etc...)
      </p>
      <br />
      <h4>Frontend Web Development</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 55%"
        ></div>
      </div>
      <p style="font-weight:600">
        I have an intermediate knowledge of frontend web development (for
        instance, this web was designed by me using HTML, Jquery, CSS and
        Bootstrap)
      </p>
      <br />
      <h4>Backend Web Development</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 55%"
        ></div>
      </div>
      <p style="font-weight:600">
        I have a basic knowledge of the overall Django Framework. I also know
        how to deal with the HTTP methods, Admin maintenance, Apps, ORM or
        Django built-in resources.
      </p>
      <br />
      <h4>Databases</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 50%"
        ></div>
      </div>
      <p style="font-weight:600">
        I have a basic knowledge of PostgreSQL syntaxis and also of SQLite (for
        instance, this page runs in the Backend a PostgreSQL database)
      </p>
      <br />
    </div>
    <h3 class="wow bounceIn">EDUCATION</h3>
    <hr />
    <div class="wow fadeInLeftBig">
      <h4>Economics - <i>Universitat Autònoma de Barcelona</i></h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-danger"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 50%"
        ></div>
      </div>
      <p style="font-weight:600">
        I will finish the Bachelor Degree in 2022 (<i
          >Currently in the fourth course out of eight</i
        >)
      </p>
    </div>
    <br />
    <h3 class="wow bounceIn">LANGUAGES</h3>
    <hr />
    <div class="wow fadeInLeftBig">
      <h4>Spanish</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 100%"
        ></div>
      </div>
      <p style="font-weight:600">
        I am a native spanish speaker. My CEFR level is arround the C2.
      </p>
      <br />
      <h4>English</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 80%"
        ></div>
      </div>
      <p style="font-weight:600">
        I can speak English quite well. Besides I study the bachelor degree in
        this language and my CEFR level is arround the B2.
      </p>
      <br />
      <h4>Catalan</h4>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          aria-valuenow="75"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 40%"
        ></div>
      </div>
      <p style="font-weight:600">
        I can understand it quite well, however, my CEFR level is arround the
        A2.
      </p>
    </div>

    <h3
      id="icontact"
      class="wow bounceIn"
      style="text-align: center; margin-bottom: 5%;"
    >
      CONTACT
    </h3>
    <hr />

    <!-- small size -->
    <div class="row">
      <div class="col-md-6">
        <div
          class="card mx-auto shadow-lg wow zoomInLeft"
          style="width: 100%; border-radius: 25px;"
          data-wow-duration="2s"
        >
          <img
            src="{% static 'images/img3.png' %}"
            class="card-img-top rounded-circle card mx-auto mt-4"
            alt="..."
            style="width: 12rem;"
          />
          <div class="card-body" style="text-align: center;">
            <p class="card-text">
              Rolyan Martinez V. (22) was born in Costa Rica and he is currently
              living in Barcelona, SP. He is a passionate about Economics,
              Finance and Technology.
            </p>
            <h5 class="card-title">Python Hobbyist Developer</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <form class="mx-auto wow zoomInLeft" data-wow-duration="2s">
          <div class="form-group mt-3">
            <label for="exampleInputEmail1">Email address *</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
            <small id="emailHelp" class="form-text text-muted"
              >Your email will not be shared with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Name *</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Your name"
            />
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message *</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Hi Roylan,"
            ></textarea>
          </div>
          <div style="text-align: center;">
            <button
              type="button"
              class="btn btn-success btn-lg rounded-pill wow fadeInUp"
              data-wow-delay="0.5s"
              style="text-align: center;"
            >
              <i class="fas fa-paper-plane"></i> SUBMIT
            </button>
          </div>
        </form>
      </div>
    </div>

    <br />
    <div class="container">
      <div
        style="background-color: rgb(230, 230, 230); height: 10vh; border-radius: 60px 60px 0 0;"
      >
        <div class="row">
          <div class="col 12" style="text-align: center;">
            <br />
            <p>
              <a href="https://github.com/roylanmartinez"
                ><i class="fab fa-github"></i> Github Profile</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
