{% extends 'home/base.html' %}
{% load static %}
{% block content %}
  <!-- BOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOODDDDDDDDDDDDDDDY -->
  <div id="head1" class="wow fadeIn" data-wow-duration="2s" style="background-size:cover;
    background-image: url({% static 'images/degradado0.jpg' %}); background-attachment: fixed;" z-index=0>
    <!-- header -->
    <header style="height: 100vh">
      <div class="container">
        <br>
        <br>
        <h1 class="display-4" style="color: white; font-weight: bold;">
          Proyecto Numlet
        </h1>
        <p class="lead" style="color: white; font-weight: 500;">
          Numlet es un proyecto basado en Python capaz de convertir más de 10 ^ 1200
          números diferentes a palabras en español de tipo string.
        </p>
        <hr class="my-4" />
        <p style="color: #CFD4D6; font-size: small;">
          Se puede usar, por ejemplo, para poner información en facturas, GUI's, páginas web o incluso CSV's; sus posibilidades son
          realmente muy amplias.
        </p>
        <p class="lead">
          <a class="mr-lg-2 btn btn-success btn-lg rounded-pill" href="#" role="button"><i
              class="fas fa-play-circle"></i>
            PROBARLO</a>
          <a class="btn btn-outline-secondary btn-lg rounded-pill" href="#" role="button"><i class="fab fa-github"></i>
            REPOSITORIO</a>
        </p>
      </div>
    </header>

    <!-- navbarbottom -->
    <nav id="nb" class="navbar navbar-expand-lg navbar-light fixed-bottom wow flipInX" data-wow-duration="2s"
      style="background-color: white; border-radius: 25px;">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/logo.png' %}" width="30" height="30" alt=""> Principal
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#icontact"><i class="far fa-envelope"></i> Contacto</a>
          </li>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe-europe"></i> Idioma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#top">Español</a>
              <a class="dropdown-item" href="{% url 'pag-en' %}">Inglés</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- BODY -->
    <div
      style="padding-left: 10%; padding-right: 10%; border-radius: 25px 25px 0 0; background-color:rgb(207, 207, 207);">
      <div class="ml-0 mr-0 ml-lg-5 mr-lg-5">
        <br>
        <h3 class="wow bounceIn">HABILIDADES
          <hr />
        </h3>
        <div class="wow fadeInLeftBig" data-wow-duration="2s">
          <h4>Python</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 90%"></div>
          </div>
          <p style="font-weight:600">
            Tengo un buen conocimiento de la sintaxis de Python y una familiaridad especial
            con las bibliotecas SciPy, NumPy, Matplotlib, Scikit-Learn o Pandas.
          </p>
          <br />
          <h4>Microsoft Office</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 80%"></div>
          </div>
          <p style="font-weight:600">
            Tengo un buen conocimiento de Excel (macros, declaraciones de si anidados,
            etc ...) y especial familiaridad con Word y PowerPoint.
          </p>
          <br />
          <h4>Git</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 70%"></div>
          </div>
          <p style="font-weight:600">
            Sé la sintaxis y los comandos básicos de Git. También sé usarlo
            en conjunto con la plataforma Github.
          </p>
          <br />
          <h4>R</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 60%"></div>
          </div>
          <p style="font-weight:600">
            Conozco los conceptos básicos de R (gráficos de series de tiempo, aplicaciones estadísticas de R,
            etc ...)
          </p>
          <br />
          <h4>Frontend Web Development</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 55%"></div>
          </div>
          <p style="font-weight:600">
            Tengo un conocimiento básico de frontend web development (por ejemplo, esta web fue diseñada por mí usando
            HTML, Jquery, CSS y Bootstrap)
          </p>
          <br />
          <h4>Backend Web Development</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 55%"></div>
          </div>
          <p style="font-weight:600">
            Tengo un conocimiento básico del marco general de Django.
            Sé cómo manejar las solicitudes (protocolos GET y POST en el marco, mantenimiento Admin,
            Aplicaciones o recursos integrados de Django)
          </p>
          <br />
          <h4>Databases</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75" aria-valuemin="0"
              aria-valuemax="100" style="width: 50%"></div>
          </div>
          <p style="font-weight:600">
            Tengo un conocimiento básico de la sintaxis de PostgreSQL y también de SQLite
            (por ejemplo, esta página se ejecuta en el Backend una Base de Datos Sqlite por razones de simplicidad)
          </p>
          <br />

        </div>
        <h3 class="wow bounceIn">EDUCACION
          <hr />
        </h3>
        <div class="wow fadeInLeftBig">
          <h4>ECONOMIA - <i>Universitat Autònoma de Barcelona</i></h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
          <p style="font-weight:600">
            Terminaré el Grado universitario en el 2022 (<i>Actualmente curso el cuarto curso de ocho en total</i>)
          </p>
        </div>
        <br />
        <h3 class="wow bounceIn">IDIOMAS
          <hr />
        </h3>
        <div class="wow fadeInLeftBig">
          <h4>Español</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
          <p style="font-weight:600">
          Soy un hablante nativo de español. Mi nivel CEFR está alrededor del C2.</i>
          </p>
          <br>
          <h4>Inglés</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
          </div>
          <p style="font-weight:600">
            Puedo hablar inglés bastante bien. Además estudio el grado en
            este idioma y mi nivel de CEFR está alrededor del B2.</i>
          </p>
          <br />
          <h4>Catalán</h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
          </div>
          <p style="font-weight:600">
            Puedo entenderlo bastante bien, sin embargo, mi nivel CEFR está alrededor del A2.</i>
          </p>
        </div>


        <h3 id="icontact" class="wow bounceIn" style="text-align: center; margin-bottom: 5%;">CONTACTO
          <hr>
        </h3>
        <!-- big size -->
        <form class="d-none d-sm-block">
          <div class="row">
            <div class="col-sm- col">
              <div class="card mx-auto shadow-lg wow zoomInLeft" style="width: 100%; border-radius: 25px"
                data-wow-duration="2s">
                <img src="{% static 'images/img3.png' %}" class="card-img-top rounded-circle card mx-auto mt-4" alt="..."
                  style="width: 12rem;">
                <div class="card-body" style="text-align: center;">
                  <p class="card-text">
                    Rolyan Martinez V. (22) nació en Costa Rica y actualmente vive en Barcelona, SP.
                    Es un apasionado de la economía, las finanzas y la tecnología.
                  </p>
                  <h5 class="card-title">Desarrollador aficionado de Python</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="mx-auto wow zoomInLeft" data-wow-duration="2s">
                <div class="form-group mt-3">
                  <label for="exampleInputEmail1">Dirección Email *</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">Tu correo electrónico no será compartido con nadie
                   más.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Nombre *</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your name">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Mensaje *</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Hola Roylan, </textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-5 mb-5" style="text-align: center;">
            <div class="col">
              <button type="button" class="btn btn-success btn-lg rounded-pill wow slideInRight"
                style="text-align: center;">
                <i class="fas fa-paper-plane"></i> ENVIAR</button>
            </div>
          </div>
        </form>


        <!-- small size -->
        <div class="d-lg-none">
          <div class="card mx-auto shadow-lg wow zoomInLeft" style="width: 100%; border-radius: 25px;"
            data-wow-duration="2s">
            <img src="{% static 'images/img3.png' %}" class="card-img-top rounded-circle card mx-auto mt-4" alt="..."
              style="width: 12rem;">
            <div class="card-body" style="text-align: center;">
              <p class="card-text">
                Rolyan Martinez V. (22) nació en Costa Rica y actualmente vive en Barcelona, SP.
                Es un apasionado de la economía, las finanzas y la tecnología.
              </p>
              <h5 class="card-title">Desarrollador aficionado de Python</h5>
            </div>
          </div>
          <form class="mx-auto wow zoomInLeft" data-wow-duration="2s">
            <div class="form-group mt-3">
              <label for="exampleInputEmail1">Dirección Email *</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">Tu correo electrónico no será compartido con nadie
               más.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Nombre *</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Your name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Mensaje *</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Hola Roylan, </textarea>
            </div>
            <div style="text-align: center;">
              <button type="button" class="btn btn-success btn-lg rounded-pill wow slideInRight" data-wow-delay="0.5s"
                style="text-align: center;">
                <i class="fas fa-paper-plane"></i> ENVIAR</button>
            </div>
          </form>
        </div>
        <br>
      </div>
      <div style="background-color: rgb(230, 230, 230); height: 10vh; border-radius: 60px 60px 0 0;">
        <div class="row">
          <div class="col 12" style="text-align: center;">
            <br>
            <p><a href="https://github.com/roylanmartinez"><i class="fab fa-github"></i> Perfil de Github</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
